* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-1 {
  font-family: 'Vollkorn', sans-serif;
}

@mixin font-2 {
  font-family: 'Josefin Sans', sans-serif;
}

@mixin font-3 {
  font-family: 'Poppins', sans-serif;
}

html, body {
  @include font-1;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 1.7;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.6;
  }
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  font-weight: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: $black;
}

h1, .text-1 {
  @include font-2;
  font-size: 29px;
  font-weight: 300;
  line-height: 1.4;
  margin: 18px 0 15px;

  @include media-breakpoint-up(sm) {
    font-size: 31px;
    //margin: 18px 0 15px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 34px;
    //margin: 18px 0 15px;
  }
}

h2, .text-2 {
  @include font-2;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  margin: 18px 0 15px;

  @include media-breakpoint-up(sm) {
    font-size: 25px;
    //margin: 18px 0 15px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 27px;
    //margin: 18px 0 15px;
  }
}

h3, .text-3 {
  @include font-2;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  margin: 15px 0 12px;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
    //margin: 18px 0 15px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 21px;
    //margin: 18px 0 15px;
  }
}

h4, .text-4 {
  @include font-2;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2;
  margin: 13px 0 12px;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
    //margin: 18px 0 15px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    //margin: 18px 0 15px;
  }
}

h5, .text-5 {
  @include font-2;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin: 11px 0 10px;
}

.text-1, .text-2, .text-3, .text-4, .text-5 {
  &:first-child {
    margin-top: 0;
  }
}

p {
  @include font-1;
  font-style: italic;
  padding-bottom: 10px;
}

b {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.textbox {
  margin-bottom: 10px;
}

.text-justify {
  text-align: justify;
}

/** Link Styling **/

a {
  color: $black;
  text-decoration: none;

  &.hover {
    text-decoration: none;
    @include transition;
  }
}

/** Button Styling **/

.btn {
  position: relative;
  display: inline-block;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 24px;
  margin: 10px 10px 10px 0;
  min-width: 120px;
  font-size: 14px;
  letter-spacing: 0.5px;
  @include transition;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 20px;

  &:hover {
    background-color: lighten(#121212, 15);
    text-decoration: none;
  }
}

